.button {
    width: 100%;
    padding: 10px;
    margin: 7px 0;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:disabled {
    background-color: grey;
    cursor: not-allowed;
}

button.search {
    position: absolute;
    right: 4px;
    background-color: transparent;
    border-color: transparent;
    height: 90%;
    width: 50px;
}

button.search:hover {
    cursor: pointer;
    border-left-color: #000;
}

.btn-small {
    width: 70px;
}

.deleteBtn {
    background-color: red;
    padding: 3px 5px;
    margin: 1px 5px;
    width: 15%;
}