* {
  font-family: 'Source Sans 3', sans-serif;
  box-sizing: border-box;
}

.app {
  text-align: center;
  padding-top: 120px;
  background-color: #f5f5f5;
}

.error {
  color: red;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
  background-color: #f5f5f5;
  min-height: 100%;
  width: 100%;
  padding: 120px 0;
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50vh);
  z-index: -1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  width: 100%;
  min-height: 100vh;
  padding: 120px 0;
}

.recipe-suggestions-container {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 500px;
  margin: 120px auto 0;
}

.recipe-suggestions-container h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.recipe-suggestions-container table {
  margin: 0 auto;
}

.recipe-suggestions-container table td {
  text-align: left;
  padding: 0 8px;
}

.question {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
}

.question p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.question ul {
  list-style-type: none;
  padding: 0;
}

.question li {
  font-size: 16px;
  padding: 5px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.question li:hover {
  background-color: #f0f0f0;
}

.recipes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin: 0 auto;
}

.recipe {
  width: 85%;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px auto;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recipe img {
  max-width: 100%;
  height: auto;
}

#searchSection {
  display: flex;
  justify-content: center;
  margin-right: 15px;
}

#searchSection .search-icon {
  width: 18px;
  height: 18px;
  fill: #535557;
  position: absolute;
  top: 9px;
  left: 9px;
}

#search {
  position: relative;
  font-size: 25px;
  cursor: pointer;
  margin-left: -45px;
  border: none;
  border-left: 1px solid;
  border-left-color: rgba(0, 0, 0, .2);
  background: transparent;
  padding: 15px;
}

#searchInput {
  padding: 7px 5px;
  width: 220px;
  padding-right: 48px;
}

#filters {
  width: 100px;
  padding: 7px 5px;
  margin-left: 6px;
  cursor: pointer;
}

#filtersSection {
  display: none;
  border: 1px solid grey;
  width: 340px;
  margin: 0 auto;
  padding: 12px 0;
}

#filtersSection h5 {
  margin: 5px;
}

#filtersSection select,
#filtersSection input {
  width: 150px;
  height: 35px;
}

.filtersForm {
  margin-bottom: 30px;
}

.rowSection {
  display: flex;
  justify-content: space-evenly;
  margin: 12px 0;
}

a {
  text-decoration: none;
  color: #000;
}

h1 {
  font-weight: bolder;
  font-size: 30px !important;
}

.loader {
  --b: 20px;
  /* border thickness */
  --n: 15;
  /* number of dashes*/
  --g: 7deg;
  /* gap  between dashes*/
  --c: #000;
  /* the color */
  width: 80px;
  /* size */
  margin: 0 auto;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  /* get rid of bad outlines */
  background: conic-gradient(#0000, var(--c)) content-box;
  --_m:
    /* we use +/-1deg between colors to avoid jagged edges */
    repeating-conic-gradient(#0000 0deg,
      #000 1deg calc(360deg/var(--n) - var(--g) - 1deg),
      #0000 calc(360deg/var(--n) - var(--g)) calc(360deg/var(--n))),
    radial-gradient(farthest-side, #0000 calc(98% - var(--b)), #000 calc(100% - var(--b)));
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: load 1s infinite steps(var(--n));
}

@keyframes load {
  to {
    transform: rotate(1turn)
  }
}

.overlay-contaniner {
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}